.achievement {
    background-color: $gray;
    padding-top: 28px;
    padding-bottom: 17px;

    &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $dark-purple;
    }

    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 20px;
        padding-top: 30px;
        padding-bottom: 9px;

        &__input {
            width: 100%;
            background-color: $white;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px 0;

            &:nth-child(n+3) {
                display: none;
            }
        }
    }

    &-dots {
        list-style: none;
        padding: 0;
        height: 46px;
        display: flex;
        justify-content: center;

        &__item {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $blue;
            opacity: 0.2;
            border: none;
            margin: 20px 7px;
            cursor: pointer;

            &:hover {
                background-color: #24A3FF;
                opacity: 0.6;
                animation-name: dots;
                animation-duration: 1s;
            }
        }

        &__item_active {
            background-color: $blue;
            opacity: 1;
        }
    }
}

@keyframes dots {
    50% {
        width: 14px;
        height: 14px;
    }

    90% {
        width: 16px;
        height: 16px;
    }
}

@media (min-width: 600px) {
    .achievement {

        &-list {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            column-gap: 30px;
            padding-bottom: 12px;

            &__input {

                &:nth-child(-n+3) {
                    display: flex;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .achievement {

        &-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            column-gap: 40px;

            &__input {

                &:nth-child(n+1) {
                    display: flex;
                    padding: 25px 0;
                }
            }
        }

        &-dots {
            height: 45px;

            & li:nth-child(n+4) {
                display: none;
            }
        }
    }
}

