.case {
    padding-top: 23px;

    &__link {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $white;
        opacity: 0.5;
        display: inline-flex;
        align-items: center;
        margin: 0 auto;

        &:hover {
            color: $red;
        }

        &:hover path {
            stroke: $red;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        color: $red;
    }
}

.case-arrow {
    margin-left: 5px;
}

@media (min-width: 992px) {
    .case {
        padding-top: 0;

        &__title {
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
        }
    }
}
