.company-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;

    &__hillel {
        background-color: $dark-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__wannabiz {
        background-color: $darkest-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__tapgerine {
        background-color: $orange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__look {
        background-color: $grape;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__orangear {
        background-color: $light-orange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__adtelligent {
        background-color: $lightest-gray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__clickky {
        background-color: $dark-red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__eco {
        background-color: $olive-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__tek {
        background-color: $olive-gray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__park {
        background-color: $darkest-purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__art {
        background-color: $some-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }

    &__card {
        background-color: $black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90px;
    }
}

@media (min-width: 768px) {
    .company-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }
}

@media (min-width: 992px) {
    .company-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;

        &__hillel {
            height: 120px;
        }

        &__wannabiz {
            height: 120px;
        }

        &__tapgerine {
            height: 120px;
        }

        &__look {
            height: 120px;
        }

        &__orangear {
            height: 120px;
        }

        &__adtelligent {
            height: 120px;
        }

        &__clickky {
            height: 120px;
        }

        &__eco {
            height: 120px;
        }

        &__tek {
            height: 120px;
        }

        &__park {
            height: 120px;
        }

        &__art {
            height: 120px;
        }

        &__card {
            height: 120px;
        }
    }
}
