.company {
    padding-top: 46px;

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $dark-purple;
        text-align: center;
        padding-bottom: 31px;
    }
}

@media (min-width: 768px) {
    .company {
        padding-top: 54px;

    }
}
