.footer-copyright {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $gray-link;
    padding: 20px;
}

@media (min-width: 768px) {
    .footer-copyright {
        padding: 33px;
    }
}

@media (min-width: 992px) {
    .footer-copyright {
        grid-row-start: 1;
        grid-row-end: -1;
        grid-column-start: 2;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
}
