.header-logo {
    font-size: 0;
    &__pic {
        width: 77px;
        height: 31px;
    }
}

@media (min-width: 768px) {
    .header-logo {
        &__pic {
            width: 156px;
            height: 62px;
        }
    }
}
