.header-phone {
    color: $gray-link;

    &:hover {
        color: $red;
    }

    &__input {
        color: $gray-link;
    }
}

@media (min-width: 768px) {
    .header-phone::after {
        content: '';
        background-color: $gray-link;
    }
}
