.header-lang-box {
    display: flex;

    &__item {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 1px;
        color: $white;
        padding: 5px 0 0 2px;
        height: 23px;
        width: 27px;
        border-radius: 8px;

        &:hover {
            background-color: $trans-light-gray;
            color: $white;
            animation-name: lang;
            animation-duration: 1s;
        }

        [class*="about-page"] & {
            color: $gray-link;

            &:hover {
                background-color: $trans-light-gray;
                color: $gray-link;
            }
        }
    }

    &__item_active {
        background-color: $red;
        color: $white;

        [class*="about-page"] & {
            background-color: $red;
            color: $white;
        }
    }
}

@keyframes lang {
    from {
        background-color: $gray;
    }

    to {
        background-color: $trans-light-gray;
    }
}

@media (min-width: 768px) {
    .header-lang-box::after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $white;
        margin: 8px 8px;

        [class*="about-page"] & {
            background-color: $gray-link;
        }
    }
}
