.header-fb {
    display: none;
    font-size: 0;

    &__link:hover path {
        fill: $white;

        [class*="about-page"] & {
            fill: $blue;
        }
    }
}

@media (min-width: 768px) {
    .header-fb {
        display: flex;
    }
}
