.header {
    padding-top: 20px;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

@media (min-width: 992px) {
    .header {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
