.law-description-mob {

    &__title {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: $white;
        padding-top: 8px;
        padding-bottom: 15px;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
    }
}

@media (min-width: 768px) {
    .law-description-mob {
        &__title {
            margin: 0 auto;
            text-align: center;
        }

        &__text {
            margin: 0 auto;
            text-align: center;
        }
    }
}
