.public {
    background-color: $gray;
    padding-top: 20px;

    &__link {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $blue;
        display: inline-flex;
        align-items: center;

        &:hover {
            color: $red;
            animation-name: public;
            animation-duration: 1s;
        }

        &:hover path {
            stroke: $red;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        color: $red;
        padding-bottom: 24px;
    }
}


@keyframes public {
    50% {
        font-size: 10px;
    }

    90% {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .public {
        padding-top: 40px;
        padding-bottom: 10px;

        &__title {
            font-size: 42px;
            line-height: 50px;
            color: $red;
            padding-bottom: 40px;
        }
    }
}
