.public-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 25px;

    &__item {
        background-color: $white;
        border-radius: 12px;

        &:nth-child(n+3) {
            display: none;
        }

        &-down {
            padding: 18px 20px 15px 20px;

            &-link {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: $blue;

                &:hover {
                    animation-name: pub-link;
                    animation-duration: 1s;
                }
            }

            &-date {
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $gray-link;
                padding-top: 9px;
                padding-bottom: 6px;
            }

            &-text {
                font-size: 16px;
                line-height: 22px;
                color: $black;
                padding-top: 20px;
                border-top: 4px solid $separator-gray;
                display: none;
            }
        }
    }
}

@keyframes pub-link {
    from {
        color: $blue;
    }

    to {
        color: $red;
    }
}

@media (min-width: 450px) {
    .public-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;

        &__item {

            &:nth-child(-n+2) {
                display: block;
            }
        }
    }
}

@media (min-width: 768px) {
    .public-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 50px;
        row-gap: 40px;

        &__item {

            &:nth-child(-n+4) {
                display: block;
            }

            &-down {

                &-text {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 912px) {
    .public-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 20px;
        row-gap: 20px;

        &__item {

            &:nth-child(n+3) {
                display: block;
            }

            &-down {
                padding: 18px 21px 13px 21px;

                &-date {
                    padding-top: 9px;
                    padding-bottom: 18px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .public-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 40px;
        row-gap: 40px;
    }
}
