.team-dots {
    list-style: none;
    padding: 0;
    height: 20px;
    display: flex;
    justify-content: center;

    &__item {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $blue;
        opacity: 0.2;
        border: none;
        margin: 13px 8px;
        cursor: pointer;

        &:hover {
            background-color: #24A3FF;
            opacity: 0.6;
        }
    }

    &__item_active {
        background-color: $blue;
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .team-dots {
        height: 66px;

        &__item {
            margin: 20px 8px;

        }
    }
}
