@font-face {
  font-family: "ttnorms";
  src: url("../fonts/ttnorms-bold-webfont.woff2") format("woff2"), url("../fonts/ttnorms-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ttnorms";
  src: url("../fonts/ttnorms-medium-webfont.woff2") format("woff2"), url("../fonts/ttnorms-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ttnorms";
  src: url("../fonts/ttnorms-regular-webfont.woff2") format("woff2"), url("../fonts/ttnorms-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: "ttnorms", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-width: 375px;
}

.img-responsive {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  color: #F0145A;
}

.container {
  max-width: 1360px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.bg-gradient-up {
  background: linear-gradient(25deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}
.bg-gradient-up__bg-image {
  background: url("/app/img/pbig.png") no-repeat -102px 206px;
}

@media (min-width: 460px) {
  .bg-gradient-up__bg-image {
    background: url("/app/img/pbig.png") no-repeat -17px 206px;
  }
}
@media (min-width: 660px) {
  .bg-gradient-up__bg-image {
    background: url("/app/img/pbig.png") no-repeat 67px 206px;
  }
}
@media (min-width: 768px) {
  .bg-gradient-up__bg-image {
    background: url("/app/img/pbig.png") no-repeat 125px 270px;
  }
}
@media (min-width: 992px) {
  .bg-gradient-up__bg-image {
    background: url("/app/img/pbig.png") no-repeat 42% bottom, url(/app/img/pframe.svg) no-repeat center bottom;
  }
}
.header {
  padding-top: 20px;
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  .header {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.header-box {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
}

@media (min-width: 768px) {
  .header-box {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }
}
@media (min-width: 992px) {
  .header-box {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }
}
.header-service-logo-box {
  grid-row: 2/-1;
  align-self: center;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-service-logo-box__bread {
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
[class*=about-page] .header-service-logo-box__bread {
  color: #323264;
}
.header-service-logo-box__bread:hover {
  color: #F0145A;
}
.header-service-logo-box__bread::after {
  content: url(/app/img/pslashsmall.svg);
  margin-left: 5px;
}
.header-service-logo-box__bread::before {
  content: url(/app/img/slashsmall.svg);
}

@media (min-width: 768px) {
  .header-service-logo-box {
    grid-row: 1/-1;
    padding-top: 0;
  }
  .header-service-logo-box__bread {
    font-size: 38px;
    line-height: 45px;
  }
  .header-service-logo-box__bread::after {
    content: url(/app/img/pslash.svg);
    margin-left: 5px;
  }
  .header-service-logo-box__bread::before {
    content: url(/app/img/slash.svg);
  }
}
@media (min-width: 992px) {
  .header-service-logo-box {
    grid-row: 1/-1;
  }
}
.header-logo-box {
  grid-row: 2/-1;
  align-self: center;
  padding-top: 20px;
}

@media (min-width: 992px) {
  .header-logo-box {
    grid-row: 1/-1;
    padding-top: 0;
  }
}
.header-logo {
  font-size: 0;
}
.header-logo__pic {
  width: 77px;
  height: 31px;
}

@media (min-width: 768px) {
  .header-logo__pic {
    width: 156px;
    height: 62px;
  }
}
.header-right {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4px;
}

@media (min-width: 768px) {
  .header-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 2/-1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
.header-lang-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-lang-box__item {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 5px 0 0 2px;
  height: 23px;
  width: 27px;
  border-radius: 8px;
}
.header-lang-box__item:hover {
  background-color: rgba(237, 237, 247, 0.5);
  color: #FFFFFF;
  -webkit-animation-name: lang;
          animation-name: lang;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
[class*=about-page] .header-lang-box__item {
  color: #B3B3BA;
}
[class*=about-page] .header-lang-box__item:hover {
  background-color: rgba(237, 237, 247, 0.5);
  color: #B3B3BA;
}
.header-lang-box__item_active {
  background-color: #F0145A;
  color: #FFFFFF;
}
[class*=about-page] .header-lang-box__item_active {
  background-color: #F0145A;
  color: #FFFFFF;
}

@-webkit-keyframes lang {
  from {
    background-color: #F5F5FA;
  }
  to {
    background-color: rgba(237, 237, 247, 0.5);
  }
}

@keyframes lang {
  from {
    background-color: #F5F5FA;
  }
  to {
    background-color: rgba(237, 237, 247, 0.5);
  }
}
@media (min-width: 768px) {
  .header-lang-box::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 8px 8px;
  }
  [class*=about-page] .header-lang-box::after {
    background-color: #B3B3BA;
  }
}
.header-address {
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #FFFFFF;
  display: none;
}
.header-address::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: 8px 17px 8px 11px;
}
[class*=about-page] .header-address {
  color: #B3B3BA;
}
[class*=about-page] .header-address::after {
  background-color: #B3B3BA;
}

@media (min-width: 768px) {
  .header-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-phone:hover {
  color: #F0145A;
}
[class*=about-page] .header-phone {
  color: #B3B3BA;
}
[class*=about-page] .header-phone:hover {
  color: #F0145A;
}
.header-phone__input {
  color: #FFFFFF;
}
[class*=about-page] .header-phone__input {
  color: #B3B3BA;
}
[class*=about-page] .header-phone__input:hover {
  color: #F0145A;
}

@media (min-width: 768px) {
  .header-phone::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 8px 10px;
  }
  [class*=about-page] .header-phone::after {
    background-color: #B3B3BA;
  }
}
.header-fb {
  display: none;
  font-size: 0;
}
.header-fb__link:hover path {
  fill: #FFFFFF;
}
[class*=about-page] .header-fb__link:hover path {
  fill: #24A3FF;
}

@media (min-width: 768px) {
  .header-fb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-main-menu {
  grid-column: -2/-1;
  align-self: flex-end;
}
.header-main-menu__list {
  list-style: none;
  padding: 0;
  display: none;
}
.header-main-menu__list li {
  margin-left: 16px;
  padding-top: 14px;
}
.header-main-menu__list li a:hover {
  border-bottom: 2px solid #FFFFFF;
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
[class*=about-page] .header-main-menu__list li a:hover {
  border-bottom: 2px solid #F0145A;
}
.header-main-menu .active-point {
  border-bottom: 2px solid #FFFFFF;
}
[class*=about-page] .header-main-menu .active-point {
  border-bottom: 2px solid #F0145A;
}
@-webkit-keyframes menu1 {
  from {
    border-bottom: 2px solid #F0145A;
  }
  to {
    border-bottom: 2px solid #FFFFFF;
  }
}
@keyframes menu1 {
  from {
    border-bottom: 2px solid #F0145A;
  }
  to {
    border-bottom: 2px solid #FFFFFF;
  }
}
@media (min-width: 768px) {
  .header-main-menu .header-main-menu {
    justify-self: flex-start;
  }
  .header-main-menu .header-main-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-main-menu .header-main-menu__list a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
  }
  [class*=about-page] .header-main-menu .header-main-menu__list a {
    color: #24A3FF;
  }
  [class*=about-page] .header-main-menu .header-main-menu__list a:hover {
    color: #F0145A;
  }
  .header-main-menu .header-main-menu__list li:first-child {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .header-main-menu {
    grid-column: -1/-1;
    justify-self: flex-end;
  }
}
.burger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -13px;
}
.burger path {
  stroke: #FFFFFF;
}
[class*=about-page] .burger path {
  stroke: #323264;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
}
.admin {
  padding-top: 135px;
  padding-bottom: 20px;
}
.admin__title {
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  width: 300px;
  margin: 0 auto;
}
.admin__link-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}
.admin__link-position-arrow:hover path {
  stroke: #F0145A;
}
.admin__link-position-arrow:hover circle {
  stroke: #F0145A;
}

@media (min-width: 768px) {
  .admin {
    padding-top: 155px;
  }
  .admin__title {
    width: 500px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .admin__title {
    padding-top: 38px;
  }
  .admin__link-position {
    margin-top: 290px;
  }
}
.bg-gradient-down {
  background: linear-gradient(200deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  position: relative;
}
.bg-gradient-down::after {
  content: "";
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background-color: #CACADB;
  position: absolute;
  left: 15px;
  bottom: -10px;
  width: calc(100% - 36px);
}
.bg-gradient-down::before {
  content: "";
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background-color: #E7E7F2;
  position: absolute;
  left: 36px;
  right: 20px;
  bottom: -20px;
  width: calc(100% - 80px);
}

.service-mob {
  padding-top: 40px;
}

@media (min-width: 992px) {
  .service-mob {
    display: none;
  }
}
.lawyers-mob__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
}

@media (min-width: 768px) {
  .lawyers-mob {
    text-align: center;
  }
}
.law-description-mob__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 15px;
}
.law-description-mob__text {
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .law-description-mob__title {
    margin: 0 auto;
    text-align: center;
  }
  .law-description-mob__text {
    margin: 0 auto;
    text-align: center;
  }
}
.slider-dots {
  list-style: none;
  padding: 0;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-dots__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24A3FF;
  opacity: 0.2;
  border: none;
  margin: 20px 8px;
  cursor: pointer;
}
.slider-dots__item:hover {
  background-color: #24A3FF;
  opacity: 0.6;
}
.slider-dots__item_active {
  background-color: #24A3FF;
  opacity: 1;
}

@media (min-width: 768px) {
  .slider-dots {
    height: 56px;
  }
}
.service {
  display: none;
}

@media (min-width: 992px) {
  .service {
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.service-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lawyers {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.lawyers__list {
  list-style: none;
  padding: 0;
}
.lawyers li:hover {
  color: #F0145A;
  border-right: 4px solid #F0145A;
  -webkit-animation-name: list1;
          animation-name: list1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.lawyers__list-item {
  border-right: 4px solid #FFFFFF;
  padding-right: 38px;
  padding-top: 20px;
  text-align: end;
}
.lawyers__list-item_active {
  border-right: 4px solid #F0145A;
}
.lawyers__list-item_active a {
  color: #F0145A;
}
.lawyers__list-item:first-child {
  padding-top: 0;
}
.lawyers__list-item a {
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  text-align: right;
}

@-webkit-keyframes list1 {
  from {
    color: #24A3FF;
    border-right: 4px solid #24A3FF;
  }
  to {
    color: #F0145A;
    border-right: 4px solid #F0145A;
  }
}

@keyframes list1 {
  from {
    color: #24A3FF;
    border-right: 4px solid #24A3FF;
  }
  to {
    color: #F0145A;
    border-right: 4px solid #F0145A;
  }
}
.law-description {
  width: 51%;
  padding: 52px 40px 40px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.law-description__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.law-description__text {
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
}

.case {
  padding-top: 23px;
}
.case__link {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.case__link:hover {
  color: #F0145A;
}
.case__link:hover path {
  stroke: #F0145A;
}
.case__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #F0145A;
}

.case-arrow {
  margin-left: 5px;
}

@media (min-width: 992px) {
  .case {
    padding-top: 0;
  }
  .case__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
  }
}
.job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.job__list {
  padding-top: 19px;
  padding-bottom: 18px;
}
.job__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.job__list-item-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.job__list-item-picture-input {
  width: 64px;
  height: 64px;
}
.job__list-item-link {
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #24A3FF;
  margin-left: 11px;
}
.job__list-item-link:hover {
  -webkit-animation-name: it;
          animation-name: it;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.job__list-item-text {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 9px;
}

@-webkit-keyframes it {
  from {
    color: #24A3FF;
  }
  to {
    color: #F0145A;
  }
}

@keyframes it {
  from {
    color: #24A3FF;
  }
  to {
    color: #F0145A;
  }
}
@media (min-width: 768px) {
  .job {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -20px;
    padding-top: 50px;
  }
  .job__list {
    width: 50%;
    padding: 20px 20px 33px 20px;
  }
  .job__list:nth-child(n+5) {
    padding-bottom: 10px;
  }
  .job__list-item-picture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .job__list-item-picture-input {
    width: 92px;
    height: 92px;
  }
  .job__list-item-link {
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #24A3FF;
  }
  .job__list-item-text {
    font-size: 18px;
    line-height: 26px;
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  .job__list {
    width: 33.333%;
    padding: 20px 20px 33px 20px;
  }
  .job__list:nth-child(n+4) {
    padding-bottom: 10px;
  }
  .job__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.team {
  padding-top: 42px;
}

@media (min-width: 992px) {
  .team {
    padding-top: 68px;
  }
}
.team-box {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr;
  margin: 0 17px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  .team-box {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.team-link {
  grid-column: 1/-1;
}
.team-link__forward {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team-link__forward:hover {
  color: #F0145A;
}
.team-link__forward:hover path {
  stroke: #F0145A;
}

@media (min-width: 992px) {
  .team-link {
    grid-column: 2/-1;
    padding-top: 40px;
  }
}
.team-main {
  grid-column: 1/-1;
}
.team-main__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #F0145A;
}

@media (min-width: 992px) {
  .team-main {
    grid-column: 2/-1;
  }
  .team-main__title {
    font-size: 42px;
    line-height: 50px;
    max-width: 95%;
  }
}
.team-photo {
  grid-column: 1/2;
  padding-top: 10px;
}
.team-photo__mob {
  height: 60px;
  width: 60px;
  background-image: url(/app/img/oleksandr.png);
  background-size: contain;
  background-position: 50% 50%;
  border-radius: 50%;
}
.team-photo__big {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .team-photo__mob {
    background-image: url(/app/img/oleksandr@2x.png);
  }
}
@media (min-width: 992px) {
  .team-photo {
    grid-row: 1/5;
    padding-top: 0;
    padding-right: 40px;
    margin-bottom: -3px;
  }
  .team-photo__mob {
    display: none;
  }
  .team-photo__big {
    display: block;
    border-radius: 12px 0px 0px 12px;
  }
}
.team-name {
  grid-column: 2/-1;
  padding-left: 11px;
  padding-top: 16px;
}
.team-name__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
}
.team-name__text {
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
  padding-top: 6px;
}

@media (min-width: 992px) {
  .team-name {
    padding-left: 0;
    padding-top: 20px;
  }
}
.team-dots {
  list-style: none;
  padding: 0;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-dots__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24A3FF;
  opacity: 0.2;
  border: none;
  margin: 13px 8px;
  cursor: pointer;
}
.team-dots__item:hover {
  background-color: #24A3FF;
  opacity: 0.6;
}
.team-dots__item_active {
  background-color: #24A3FF;
  opacity: 1;
}

@media (min-width: 768px) {
  .team-dots {
    height: 66px;
  }
  .team-dots__item {
    margin: 20px 8px;
  }
}
.gray-wrap {
  background-color: #F5F5FA;
  border-radius: 12px;
}

.project {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .project {
    padding-top: 67px;
    padding-bottom: 42px;
  }
}
.project-list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
}
.project-list__item {
  background-color: #F5F5FA;
  margin: 1px 0;
}
.project-list__item-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 18px 20px 20px 20px;
}
.project-list__item:nth-child(1) {
  border-radius: 12px 12px 0 0;
}
.project-list__item:nth-child(6) {
  border-radius: 0 0 12px 12px;
}
.project-list__item:hover {
  background-color: #EDEDF7;
  -webkit-animation-name: project;
          animation-name: project;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.project-list__item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #686887;
  padding-bottom: 11px;
}
.project-list__item-text {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  margin-top: auto;
}

@-webkit-keyframes project {
  from {
    background-color: #F5F5FA;
  }
  to {
    background-color: #EDEDF7;
  }
}

@keyframes project {
  from {
    background-color: #F5F5FA;
  }
  to {
    background-color: #EDEDF7;
  }
}
@media (min-width: 768px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .project-list__item {
    margin: 0 1px;
    margin-bottom: 2px;
  }
  .project-list__item-child {
    padding: 17px 20px 19px 20px;
  }
  .project-list__item:nth-child(1) {
    border-radius: 12px 0 0 0;
  }
  .project-list__item:nth-child(2) {
    border-radius: 0 12px 0 0;
  }
  .project-list__item:nth-child(5) {
    border-radius: 0 0 0 12px;
  }
  .project-list__item:nth-child(6) {
    border-radius: 0 0 12px 0;
  }
  .project-list__item-title {
    font-size: 24px;
    line-height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 47px;
  }
  .project-list__item-text {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 992px) {
  .project-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .project-list__item:nth-child(1) {
    border-radius: 12px 0 0 0;
  }
  .project-list__item:nth-child(2) {
    border-radius: 0 0 0 0;
  }
  .project-list__item:nth-child(3) {
    border-radius: 0 12px 0 0;
  }
  .project-list__item:nth-child(4) {
    border-radius: 0 0 0 12px;
  }
  .project-list__item:nth-child(5) {
    border-radius: 0 0 0 0;
  }
  .project-list__item:nth-child(6) {
    border-radius: 0 0 12px 0;
  }
}
.company {
  padding-top: 46px;
}
.company__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  padding-bottom: 31px;
}

@media (min-width: 768px) {
  .company {
    padding-top: 54px;
  }
}
.company-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
}
.company-list__hillel {
  background-color: #1C4280;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__wannabiz {
  background-color: #143646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__tapgerine {
  background-color: #F48B30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__look {
  background-color: #9E4DC3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__orangear {
  background-color: #FD9339;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__adtelligent {
  background-color: #E2E2E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__clickky {
  background-color: #C71C36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__eco {
  background-color: #DCF3F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__tek {
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__park {
  background-color: #282240;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__art {
  background-color: #1D4568;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}
.company-list__card {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

@media (min-width: 768px) {
  .company-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
}
@media (min-width: 992px) {
  .company-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  .company-list__hillel {
    height: 120px;
  }
  .company-list__wannabiz {
    height: 120px;
  }
  .company-list__tapgerine {
    height: 120px;
  }
  .company-list__look {
    height: 120px;
  }
  .company-list__orangear {
    height: 120px;
  }
  .company-list__adtelligent {
    height: 120px;
  }
  .company-list__clickky {
    height: 120px;
  }
  .company-list__eco {
    height: 120px;
  }
  .company-list__tek {
    height: 120px;
  }
  .company-list__park {
    height: 120px;
  }
  .company-list__art {
    height: 120px;
  }
  .company-list__card {
    height: 120px;
  }
}
.public {
  background-color: #F5F5FA;
  padding-top: 20px;
}
.public__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.public__link:hover {
  color: #F0145A;
}
.public__link:hover path {
  stroke: #F0145A;
}
.public__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #F0145A;
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .public {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .public__title {
    font-size: 42px;
    line-height: 50px;
    padding-bottom: 40px;
  }
}
.public-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 25px;
}
.public-list__item {
  background-color: #FFFFFF;
  border-radius: 12px;
}
.public-list__item:nth-child(n+3) {
  display: none;
}
.public-list__item-down {
  padding: 18px 20px 15px 20px;
}
.public-list__item-down-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
}
.public-list__item-down-link:hover {
  -webkit-animation-name: pub-link;
          animation-name: pub-link;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.public-list__item-down-date {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  padding-top: 9px;
  padding-bottom: 6px;
}
.public-list__item-down-text {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding-top: 20px;
  border-top: 4px solid #E6E6F0;
  display: none;
}

@-webkit-keyframes pub-link {
  from {
    color: #24A3FF;
  }
  to {
    color: #F0145A;
  }
}

@keyframes pub-link {
  from {
    color: #24A3FF;
  }
  to {
    color: #F0145A;
  }
}
@media (min-width: 450px) {
  .public-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .public-list__item:nth-child(-n+2) {
    display: block;
  }
}
@media (min-width: 768px) {
  .public-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    row-gap: 40px;
  }
  .public-list__item:nth-child(-n+4) {
    display: block;
  }
  .public-list__item-down-text {
    display: block;
  }
}
@media (min-width: 912px) {
  .public-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
  }
  .public-list__item:nth-child(n+3) {
    display: block;
  }
  .public-list__item-down {
    padding: 18px 21px 13px 21px;
  }
  .public-list__item-down-date {
    padding-top: 9px;
    padding-bottom: 18px;
  }
}
@media (min-width: 992px) {
  .public-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 40px;
  }
}
.public-button-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
  padding-bottom: 39px;
}
.public-button-position__button {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  padding: 16px 77px 17px 77px;
}
.public-button-position__button:hover {
  background: #0085FF;
}
.public-button-position__button_active {
  background: #006CCF;
}

@media (min-width: 768px) {
  .public-button-position {
    padding-top: 53px;
    padding-bottom: 45px;
  }
}
.footer {
  background-color: #F5F5FA;
  text-align: center;
  padding-bottom: 118px;
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .footer {
    padding-bottom: 40px;
  }
}
.footer-grid-wrap {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  border-top: 4px solid #E6E6F0;
  padding-top: 18px;
}

@media (min-width: 992px) {
  .footer-grid-wrap {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding-top: 27px;
  }
}
.footer-up__address {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding-bottom: 6px;
  color: #323264;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-up__address::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  margin: 8px 12px 8px 10px;
  display: none;
}
.footer-up__address-bold {
  font-weight: bold;
}
.footer-up__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer-up__link:hover {
  color: #F0145A;
  -webkit-animation-name: map;
          animation-name: map;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes map {
  from {
    color: #24A3FF;
  }
  to {
    color: #F0145A;
  }
}

@keyframes map {
  from {
    color: #24A3FF;
  }
  to {
    color: #F0145A;
  }
}
@media (min-width: 768px) {
  .footer-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 27px;
  }
  .footer-up__address::after {
    display: block;
  }
}
@media (min-width: 992px) {
  .footer-up {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 0;
  }
  .footer-up__address::after {
    margin: 8px 10px 8px 16px;
  }
}
@media (min-width: 768px) {
  .footer-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
  }
}
@media (min-width: 992px) {
  .footer-down {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 0;
    padding-top: 13px;
  }
}
.footer-fb {
  padding-top: 19px;
  font-size: 0;
}
.footer-fb__link:hover path {
  fill: #F0145A;
}

@media (min-width: 768px) {
  .footer-fb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .footer-fb::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
    margin: 8px 12px 8px 11px;
  }
}
.footer-phone {
  padding-top: 20px;
  padding-bottom: 21px;
}
.footer-phone__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #46466E;
}
.footer-phone__link:hover {
  -webkit-animation-name: phone;
          animation-name: phone;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes phone {
  from {
    color: #000000;
  }
  to {
    color: #F0145A;
  }
}

@keyframes phone {
  from {
    color: #000000;
  }
  to {
    color: #F0145A;
  }
}
@media (min-width: 768px) {
  .footer-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .footer-phone::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
    margin: 8px 10px 8px 11px;
  }
}
.footer-mail {
  font-size: 0;
}
.footer-mail__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #24A3FF;
}
.footer-mail__link:hover {
  -webkit-animation-name: mail;
          animation-name: mail;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes mail {
  from {
    color: #24A3FF;
  }
  to {
    color: #F0145A;
  }
}

@keyframes mail {
  from {
    color: #24A3FF;
  }
  to {
    color: #F0145A;
  }
}
@media (min-width: 768px) {
  .footer-mail {
    padding-top: 9px;
  }
}
.footer-copyright {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #B3B3BA;
  padding: 20px;
}

@media (min-width: 768px) {
  .footer-copyright {
    padding: 33px;
  }
}
@media (min-width: 992px) {
  .footer-copyright {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 2;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.practice {
  padding-top: 20px;
  padding-bottom: 15px;
}

@media (min-width: 992px) {
  .practice {
    padding-top: 34px;
    padding-bottom: 80px;
  }
}
.practice-years__title {
  font-size: 32px;
  line-height: 38px;
  color: #F0145A;
  padding-bottom: 20px;
}
.practice-years__text {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .practice-years__title {
    text-align: center;
  }
  .practice-years__text {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .practice-years__title {
    font-size: 42px;
    line-height: 50px;
    max-width: 640px;
    text-align: start;
  }
  .practice-years__text {
    font-size: 21px;
    line-height: 30px;
    max-width: 640px;
    text-align: start;
  }
}
.practice-point {
  border-top: 4px solid #E6E6F0;
  padding-top: 10px;
}
.practice-point-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}
.practice-point-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
}
.practice-point__title {
  font-size: 36px;
  line-height: 42px;
  color: #F0145A;
  margin-left: 10px;
}
.practice-point__text {
  font-size: 18px;
  line-height: 21px;
  color: #323264;
  max-width: 350px;
}

@media (min-width: 768px) {
  .practice-point-position {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .practice-point-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 992px) {
  .practice-point {
    border-top: none;
  }
  .practice-point-position {
    border-left: 4px solid #E6E6F0;
    padding-left: 20px;
    padding-bottom: 37px;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .practice-point-position:last-child {
    padding-bottom: 0;
  }
  .practice-point-main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .practice-point__text {
    text-align: start;
  }
}
.practice-parts {
  max-width: 1090px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .practice-parts {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}
.we {
  background-image: url(/app/img/team.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 953px 290px;
}
.we__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  padding: 124px 0 124px 10px;
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .we {
    background-image: url(/app/img/team@2x.png);
  }
}
@media (min-width: 768px) {
  .we {
    background-size: cover;
  }
}
@media (min-width: 1030px) {
  .we__title {
    font-size: 96px;
    line-height: 113px;
    letter-spacing: 63px;
    padding: 164px 0 161px 66px;
  }
}
.quality {
  padding-top: 20px;
  padding-bottom: 40px;
}
.quality-parts {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.quality-parts-main__text {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding-bottom: 20px;
}
.quality-parts-secondary__title {
  font-size: 32px;
  line-height: 38px;
  color: #F0145A;
}

@media (min-width: 768px) {
  .quality-parts-main__text {
    text-align: center;
  }
  .quality-parts-secondary__title {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .quality {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .quality-parts {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    max-width: 1090px;
    margin: 0 auto;
  }
  .quality-parts-main__text {
    text-align: start;
    font-size: 21px;
    line-height: 30px;
    max-width: 640px;
  }
  .quality-parts-secondary__title {
    font-size: 42px;
    line-height: 50px;
    text-align: start;
    max-width: 390px;
  }
}
.achievement {
  background-color: #F5F5FA;
  padding-top: 28px;
  padding-bottom: 17px;
}
.achievement__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}
.achievement-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-top: 30px;
  padding-bottom: 9px;
}
.achievement-list__input {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0;
}
.achievement-list__input:nth-child(n+3) {
  display: none;
}
.achievement-dots {
  list-style: none;
  padding: 0;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.achievement-dots__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24A3FF;
  opacity: 0.2;
  border: none;
  margin: 20px 7px;
  cursor: pointer;
}
.achievement-dots__item:hover {
  background-color: #24A3FF;
  opacity: 0.6;
}
.achievement-dots__item_active {
  background-color: #24A3FF;
  opacity: 1;
}

@media (min-width: 600px) {
  .achievement-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    padding-bottom: 12px;
  }
  .achievement-list__input:nth-child(-n+3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) {
  .achievement-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  .achievement-list__input:nth-child(n+1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 0;
  }
  .achievement-dots {
    height: 45px;
  }
  .achievement-dots li:nth-child(n+4) {
    display: none;
  }
}
.it {
  padding-top: 20px;
}
.it__item-picture {
  padding-bottom: 15px;
}
.it__item-picture-input {
  width: 92px;
  height: 92px;
}
.it__item-title {
  font-size: 32px;
  line-height: 38px;
  color: #F0145A;
  padding-bottom: 20px;
}
.it__item-text1 {
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
.it__item-text2 {
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 20px;
}
.it__button-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 37px;
}
.it__button-input {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  padding: 16px 39px 17px 39px;
}
.it__button-input:hover {
  background: #0085FF;
  color: #FFFFFF;
}
.it__button-input_active {
  background: #006CCF;
}

@media (min-width: 768px) {
  .it {
    padding-top: 0;
    text-align: center;
  }
  .it__item-picture {
    padding-bottom: 18px;
  }
  .it__item-title {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }
  .it__item-text1 {
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
  }
  .it__item-text2 {
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
  }
  .it__button-position {
    padding-bottom: 77px;
  }
}
.way {
  padding-bottom: 11px;
}

@media (min-width: 768px) {
  .way {
    padding-bottom: 20px;
  }
}
.way-list {
  padding-top: 18px;
  border-top: 4px solid rgba(237, 237, 247, 0.5);
}
.way-list__title {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.way-list__input-text {
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 1px 0 0 24px;
}
.way-list__input-text li {
  color: #F0145A;
  margin-bottom: 14px;
}
.way-list__input-text li span {
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .way-list {
    padding-top: 20px;
    padding-bottom: 45px;
  }
  .way-list__title {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 20px;
  }
  .way-list__input {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (min-width: 992px) {
  .way-list {
    max-width: 1090px;
    margin: 0 auto;
  }
}
.modal {
  background-color: #F5F5FA;
  padding-top: 15px;
  padding-bottom: 85px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}
.modal_open {
  display: block;
}
.modal__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #F0145A;
  padding-bottom: 20px;
}
.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal__name {
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-family: inherit;
}
.modal__name:invalid {
  border: 1px solid #F0145A;
}
.modal__name:focus {
  border: 1px solid rgba(237, 237, 247, 0.5);
}
.modal__area {
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 18px;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  resize: none;
  font-family: inherit;
  height: 180px;
}
.modal__text {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: inherit;
}
.modal__tel {
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 12px;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-family: inherit;
}
.modal__tel:invalid {
  border: 1px solid #F0145A;
}
.modal__tel:focus {
  border: 1px solid rgba(237, 237, 247, 0.5);
}
.modal__email {
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  font-family: inherit;
}
.modal__button-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 19px;
}
.modal__button-position-input {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
  padding: 16px 68px 17px 69px;
}
.modal__button-position-input:hover {
  background: #0085FF;
  color: #FFFFFF;
}
.modal__button-position-input_active {
  background: #006CCF;
}

@media (min-width: 768px) {
  .modal {
    width: 527px;
    border-radius: 12px;
    padding-bottom: 20px;
  }
  .modal__up-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #F0145A;
    padding-bottom: 20px;
  }
}
.mask {
  height: 100%;
  width: 100%;
  background-color: #323264;
  opacity: 0.7;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.mask_open {
  display: block;
}

.bg-picture {
  background-image: url(/app/img/keyboard.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1440px 500px;
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .bg-picture {
    background-image: url(/app/img/keyboard@2x.png);
  }
}
/*# sourceMappingURL=style.css.map */
