@import 'variables';
@import 'fonts';
@import 'main';

@import 'blocks/bg-gradient-up';
@import 'blocks/header';
@import 'blocks/header-box';
@import 'blocks/header-service-logo-box';
@import 'blocks/header-logo-box';
@import 'blocks/header-logo';
@import 'blocks/header-right';
@import 'blocks/header-lang-box';
@import 'blocks/header-address';
@import 'blocks/header-phone';
@import 'blocks/header-fb';
@import 'blocks/header-main-menu';
@import 'blocks/burger';
@import 'blocks/admin';
@import 'blocks/bg-gradient-down';
@import 'blocks/service-mob';
@import 'blocks/lawyers-mob';
@import 'blocks/law-description-mob';
@import 'blocks/slider-dots';
@import 'blocks/service';
@import 'blocks/service-wrap';
@import 'blocks/lawyers';
@import 'blocks/law-description';
@import 'blocks/case';
@import 'blocks/job';
@import 'blocks/team';
@import 'blocks/team-box';
@import 'blocks/team-link';
@import 'blocks/team-main';
@import 'blocks/team-photo';
@import 'blocks/team-name';
@import "blocks/team-dots";
@import 'blocks/gray-wrap';
@import 'blocks/project';
@import 'blocks/project-list';
@import 'blocks/company';
@import 'blocks/company-list';
@import 'blocks/public';
@import 'blocks/public-list';
@import 'blocks/public-button-position';
@import 'blocks/footer';
@import 'blocks/footer-grid-wrap';
@import 'blocks/footer-up';
@import 'blocks/footer-down';
@import 'blocks/footer-fb';
@import 'blocks/footer-phone';
@import 'blocks/footer-mail';
@import 'blocks/footer-copyright';
@import 'blocks/practice';
@import 'blocks/practice-years';
@import 'blocks/practice-point';
@import 'blocks/practice-parts';
@import 'blocks/we';
@import 'blocks/quality';
@import 'blocks/achievement';

